In [116]:
import pandas as pd
import requests

EP = "https://raw.githubusercontent.com/heejin131/journeyjean/refs/heads/main/endpoints.json"

In [117]:
res = requests.get(EP)

In [118]:
res.status_code

200

res.text

In [119]:
res.text

'{\n    "endpoints": [\n      {"name": "TOM","url": "https://ac.sunsin.shop/api/py/select_all"},\n      {"name": "jiwon","url": "https://agecal.wodan10.shop/api/py/select_all"},\n      {"name": "heejin","url": "https://age.journeyjean.shop/api/py/select_all"}, \n      {"name": "hyun","url": "https://agecalculator.calcalhan.store/api/py/select_all"},\n      {"name": "cho","url": "https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all"},\n      {"name": "jacob","url": "https://jacob0503.vercel.app/api/py/select_table"},\n      {"name": "nuni","url": "https://ac.nunininu.shop/api/py/select_all"},\n      {"name": "lucas","url": "https://ac.lucas12.store/api/py/select_all"},\n      {"name": "SEO","url":"https://ac.seo-sigma.shop/api/py/select_all"},\n      {"name": "JERRY", "url": "https://jooon.vercel.app/api/py/select_all"}\n    ]\n}\n'

In [120]:
res.encoding

'utf-8'

In [121]:
res.json()

{'endpoints': [{'name': 'TOM',
   'url': 'https://ac.sunsin.shop/api/py/select_all'},
  {'name': 'jiwon', 'url': 'https://agecal.wodan10.shop/api/py/select_all'},
  {'name': 'heejin', 'url': 'https://age.journeyjean.shop/api/py/select_all'},
  {'name': 'hyun',
   'url': 'https://agecalculator.calcalhan.store/api/py/select_all'},
  {'name': 'cho',
   'url': 'https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all'},
  {'name': 'jacob', 'url': 'https://jacob0503.vercel.app/api/py/select_table'},
  {'name': 'nuni', 'url': 'https://ac.nunininu.shop/api/py/select_all'},
  {'name': 'lucas', 'url': 'https://ac.lucas12.store/api/py/select_all'},
  {'name': 'SEO', 'url': 'https://ac.seo-sigma.shop/api/py/select_all'},
  {'name': 'JERRY', 'url': 'https://jooon.vercel.app/api/py/select_all'}]}

In [122]:
data = res.json()

In [123]:
type(data)

dict

In [124]:
data['endpoints']

[{'name': 'TOM', 'url': 'https://ac.sunsin.shop/api/py/select_all'},
 {'name': 'jiwon', 'url': 'https://agecal.wodan10.shop/api/py/select_all'},
 {'name': 'heejin', 'url': 'https://age.journeyjean.shop/api/py/select_all'},
 {'name': 'hyun',
  'url': 'https://agecalculator.calcalhan.store/api/py/select_all'},
 {'name': 'cho',
  'url': 'https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all'},
 {'name': 'jacob', 'url': 'https://jacob0503.vercel.app/api/py/select_table'},
 {'name': 'nuni', 'url': 'https://ac.nunininu.shop/api/py/select_all'},
 {'name': 'lucas', 'url': 'https://ac.lucas12.store/api/py/select_all'},
 {'name': 'SEO', 'url': 'https://ac.seo-sigma.shop/api/py/select_all'},
 {'name': 'JERRY', 'url': 'https://jooon.vercel.app/api/py/select_all'}]

In [125]:
type(data['endpoints'])
endpoints = data['endpoints']

In [126]:
for p in endpoints :
    print(p)

{'name': 'TOM', 'url': 'https://ac.sunsin.shop/api/py/select_all'}
{'name': 'jiwon', 'url': 'https://agecal.wodan10.shop/api/py/select_all'}
{'name': 'heejin', 'url': 'https://age.journeyjean.shop/api/py/select_all'}
{'name': 'hyun', 'url': 'https://agecalculator.calcalhan.store/api/py/select_all'}
{'name': 'cho', 'url': 'https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all'}
{'name': 'jacob', 'url': 'https://jacob0503.vercel.app/api/py/select_table'}
{'name': 'nuni', 'url': 'https://ac.nunininu.shop/api/py/select_all'}
{'name': 'lucas', 'url': 'https://ac.lucas12.store/api/py/select_all'}
{'name': 'SEO', 'url': 'https://ac.seo-sigma.shop/api/py/select_all'}
{'name': 'JERRY', 'url': 'https://jooon.vercel.app/api/py/select_all'}

In [152]:
for p in endpoints :
    print(f'{p["name"]}, {p["url"]}')

TOM, https://ac.sunsin.shop/api/py/select_all
jiwon, https://agecal.wodan10.shop/api/py/select_all
heejin, https://age.journeyjean.shop/api/py/select_all
hyun, https://agecalculator.calcalhan.store/api/py/select_all
cho, https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all
jacob, https://jacob0503.vercel.app/api/py/select_table
nuni, https://ac.nunininu.shop/api/py/select_all
lucas, https://ac.lucas12.store/api/py/select_all
SEO, https://ac.seo-sigma.shop/api/py/select_all
JERRY, https://jooon.vercel.app/api/py/select_all

In [161]:
for p in endpoints :
    print(f'{p["url"]}')

https://ac.sunsin.shop/api/py/select_all
https://agecal.wodan10.shop/api/py/select_all
https://age.journeyjean.shop/api/py/select_all
https://agecalculator.calcalhan.store/api/py/select_all
https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all
https://jacob0503.vercel.app/api/py/select_table
https://ac.nunininu.shop/api/py/select_all
https://ac.lucas12.store/api/py/select_all
https://ac.seo-sigma.shop/api/py/select_all
https://jooon.vercel.app/api/py/select_all

In [167]:
urls = [
    "https://ac.sunsin.shop/api/py/select_all",
    "https://agecal.wodan10.shop/api/py/select_all",
    "https://age.journeyjean.shop/api/py/select_all",
    "https://agecalculator.calcalhan.store/api/py/select_all",
    "https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all",
    "https://jacob0503.vercel.app/api/py/select_table",
    "https://ac.nunininu.shop/api/py/select_all",
    "https://ac.lucas12.store/api/py/select_all",
    "https://ac.seo-sigma.shop/api/py/select_all",
    "https://jooon.vercel.app/api/py/select_all"
    ]

# 데이터를 저장할 리스트
df_list = []

# 각 URL에서 데이터 가져오기
for url in urls:
    res = requests.get(url)
    if res.status_code == 200:
        data = res.json()
        df = pd.DataFrame(data)
        df_list.append(df)  # 리스트에 추가

# 여러 개의 DataFrame을 하나로 합치기
df_all = pd.concat(df_list, ignore_index=True)

# 결과 확인
df_all

          menu_name    name          dt
0               설렁탕     TOM  2025-02-07
1         설렁탕,육회비빔밥     SEO  2025-02-07
2     시래기찜닭, 마라로제찜닭    hyun  2025-02-07
3             고등어구이   JERRY  2025-02-10
4       제육볶음, 고등어구이    hyun  2025-02-10
...             ...     ...         ...
1015          김치 찌개   JACOB  2025-02-03
1016           샌드위치  HEEJIN  2025-02-03
1017           제육볶음   LUCAS  2025-02-03
1018           제육볶음    NUNI  2025-02-03
1019             라면   JERRY  2025-02-09

[1020 rows x 3 columns]

In [157]:
# 두 데이터 프레임의 차집합, 교집합 등을 알아보자

# df_tom = 
# df_heejin = 

res = requests.get("https://ac.sunsin.shop/api/py/select_all")
res.status_code
data = res.json()
df_tom = pd.DataFrame(data)
df_tom.head(3)

       menu_name  name          dt
0            설렁탕   TOM  2025-02-07
1      설렁탕,육회비빔밥   SEO  2025-02-07
2  시래기찜닭, 마라로제찜닭  hyun  2025-02-07

In [158]:
res = requests.get("https://age.journeyjean.shop/api/py/select_all")
res.status_code
data = res.json()
df_heejin = pd.DataFrame(data)
df_heejin.head(3)

  menu_name   name          dt
0       컵라면    TOM  2025-02-10
1     이면수구이    cho  2025-02-10
2      스파게티  lucas  2025-02-10

In [130]:
res = requests.get("https://age.journeyjean.shop/api/py/select_all")
res.status_code

200

In [131]:
df_heejin

    menu_name    name          dt
0         컵라면     TOM  2025-02-10
1       이면수구이     cho  2025-02-10
2        스파게티   lucas  2025-02-10
3         순대국     cho  2025-01-07
4         닭개장    hyun  2025-01-07
..        ...     ...         ...
141      잔치국수   jacob  2025-02-03
142     김치 찌개  heejin  2025-02-03
143      샌드위치     TOM  2025-02-03
144      제육볶음   lucas  2025-02-03
145      제육볶음    nuni  2025-02-03

[146 rows x 3 columns]

In [132]:
# 나의 df에 없는 row를 찾아서 새로운 df 만들기

# 없는 행을 저장할 리스트
missing_rows = []

# df_tom의 각 행을 df_heejin과 비교
for _, row_tom in df_tom.iterrows():
    found = False  # 해당 행이 df_heejin에 있는지 여부
    for _, row_heejin in df_heejin.iterrows():
        if row_tom.equals(row_heejin):  # 두 행이 완전히 동일한지 비교
            found = True
            #break  # 한 번 찾으면 더 비교할 필요 없음
    if not found:
        missing_rows.append(row_tom)  # 없는 행을 리스트에 추가

# 리스트를 새로운 데이터프레임으로 변환
df_missing = pd.DataFrame(missing_rows)

print(df_missing)

       menu_name   name          dt
0            설렁탕    TOM  2025-02-07
1      설렁탕,육회비빔밥    SEO  2025-02-07
2  시래기찜닭, 마라로제찜닭   hyun  2025-02-07
3          고등어구이  JERRY  2025-02-10
4    제육볶음, 고등어구이   hyun  2025-02-10
5          순두부찌개   nuni  2025-02-11
6             뷔페   hyun  2025-02-11
7           김치찌개   nuni  2025-02-10
8         참치김치찌개  jacob  2025-02-11
9           된장찌개  jacob  2025-02-10

In [138]:
from pandasql import sqldf
query = """
SELECT df_heejin.menu_name, df_heejin.name
FROM df_heejin
LEFT JOIN df_tom
ON df_heejin.menu_name = df_tom.menu_name AND df_heejin.name = df_tom.name
WHERE df_tom.menu_name IS NULL
"""

pysqldf = lambda q: sqldf(q, globals())

def pysqldf(q):
    sqldf(q, locals())

df_diff_1 = sqldf(query, locals()) 
df_diff_1

    menu_name    name
0         컵라면     TOM
1       이면수구이     cho
2        스파게티   lucas
3         순대국     cho
4         닭개장    hyun
..        ...     ...
139      잔치국수   jacob
140     김치 찌개  heejin
141      샌드위치     TOM
142      제육볶음   lucas
143      제육볶음    nuni

[144 rows x 2 columns]

In [139]:
missing_rows = [] 

for _, row_df_heejin in df_heejin.iterrows():
    found = False # 동일한 행이 존재하는지 확인
    for _,row_df_tom in df_tom.iterrows():
        match = True # 같은지 비교 
        for col in df_tom.columns:
            if row_df_heejin[col] != row_df_tom[col]:
                match = False
                break
        if match:
            found = True
            
    if not found:
        missing_rows.append(row_df_heejin) #없는 행을 리스트에 추가

#리스트를 데이터프레임으로 바꿈
df_diff_2 = pd.DataFrame(missing_rows)
print(df_diff_2)

    menu_name    name          dt
0         컵라면     TOM  2025-02-10
1       이면수구이     cho  2025-02-10
2        스파게티   lucas  2025-02-10
3         순대국     cho  2025-01-07
4         닭개장    hyun  2025-01-07
..        ...     ...         ...
141      잔치국수   jacob  2025-02-03
142     김치 찌개  heejin  2025-02-03
143      샌드위치     TOM  2025-02-03
144      제육볶음   lucas  2025-02-03
145      제육볶음    nuni  2025-02-03

[146 rows x 3 columns]

In [140]:
merge_df = pd.merge(df1, df2, how='right', indicator = True)

In [142]:
# _merge == right only인것만 남기고
# _merge 컬럼은 지우고

merge_df = pd.merge(df_tom, df_heejin, how='right', indicator = True)
df_diff_3 = merge_df[merge_df["_merge"] == 'right_only'].drop('_merge',axis=1)
df_diff_3

    menu_name    name          dt
0         컵라면     TOM  2025-02-10
1       이면수구이     cho  2025-02-10
2        스파게티   lucas  2025-02-10
3         순대국     cho  2025-01-07
4         닭개장    hyun  2025-01-07
..        ...     ...         ...
141      잔치국수   jacob  2025-02-03
142     김치 찌개  heejin  2025-02-03
143      샌드위치     TOM  2025-02-03
144      제육볶음   lucas  2025-02-03
145      제육볶음    nuni  2025-02-03

[146 rows x 3 columns]

In [68]:
## TODO
#df_diff_1, df_diff_2, df_diff_3 의 결과가 같은지 비교
#df_diff_1 == df_diff_2 == df_diff_3

In [143]:
df_diff_1.equals(df_diff_2)

False

In [144]:
df_diff_1.equals(df_diff_3)

False

In [145]:
df_diff_2.equals(df_diff_3)

True

In [146]:
df_diff_1.reset_index(drop=True).equals(df_diff_3.reset_index(drop=True))

False

In [93]:
df_diff_3.columns.tolist()

['id', 'name']