In [9]:
import pandas as pd

df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4, 5], "name": ["MIN", "LEE", "PARK", "TOM"]})
df3 = pd.DataFrame({"id": [5, 4, 2, 3], "name": ["TOM", "PARK","MIN", "LEE"]})

In [10]:
from pandasql import sqldf
query = """
SELECT df2.id, df2.name
FROM df2
LEFT JOIN df1 ON df2.id = df1.id AND df2.name = df1.name
WHERE df1.id IS NULL
"""

pysqldf = lambda q: sqldf(q, globals())

def pysqldf(q):
    sqldf(q, locals())
m
df_diff_1 = sqldf(query, locals()) 
df_diff_1

   id  name
0   4  PARK
1   5   TOM

In [ ]:
missing_rows = [] 

for _, row_df2 in df2.iterrows():
    found = False # 동일한 행이 존재하는지 확인
    for _,row_df1 in df1.iterrows():
        match = True # 같은지 비교 
        for col in df1.columns:
            if row_df2[col] != row_df1[col]:
                match = False
                break
        if match:
            found = True
            
    if not found:
        missing_rows.append(row_df2) #없는 행을 리스트에 추가

#리스트를 데이터프레임으로 바꿈
df_diff_2 = pd.DataFrame(missing_rows)
print(df_diff_2)

In [ ]:
merge_df = pd.merge(df1, df2, how='right', indicator = True)

In [2]:
# _merge == right only인것만 남기고
# _merge 컬럼은 지우고

merge_df = pd.merge(df1, df2, how='right', indicator = True)
df_diff_3 = merge_df[merge_df["_merge"] == 'right_only'].drop('_merge',axis=1)
df_diff_3

   id  name
2   4  PARK
3   5   TOM

In [ ]:
## TODO
#df_diff_1, df_diff_2, df_diff_3 의 결과가 같은지 비교
#df_diff_1 == df_diff_2 == df_diff_3

In [ ]:
df_diff_1.equals(df_diff_2)

In [ ]:
df_diff_1.reset_index(drop=True).equals(df_diff_3.reset_index(drop=True))

In [ ]:
df_diff_3.columns.tolist()